#matchImage{
    height:15px;
   
}
data.photo{
    height:15px
}
img{ 
    height:15px;
}
.modal-body{
    background-color: black;
    height:200px;
    width:200px;
}

body{
    background-color:black;}

    h1{
        color:red;
    }